<head>

</head>

<body>
    <h1>product just one นะจ๊ะ</h1>
    
    <h4>
        <h1><a href="/products/<%=product.id%>">ชื่อ : <%=product.productTitle%></a></h1> <br>
        <h1>รายละเอียด : <%=product.pdetail%></h1><br>
        <h1>ราคา : <%=product.price%></h1>
    </h4>

 
</body>